<div class="main-center-content-m-left main-center-content-m-left">
    <div class="banner-badge bg_image">
        <div class="inner">
            <h3 class="title">Generate New Ideas for Your Content</h3>
            <p class="dsic">
                IntellectAi is the place to create, publish and monetize content using the power of AI. Use the IntellectAi AI Studio to create amazing generative images, music, and audio.
            </p>
            <a href="#" class="rts-btn btn-blur">Try Now</a>
            <div class="inner-right-iamge">
                <img src="assets/images/banner/01.png" alt="banner">
            </div>
        </div>
    </div>
    <div class="search__generator mt--50">

        <h4 class="title color-white-title-home">👋 Welcome, Mack Gok</h4>



        <div class="tab-content mt--50" id="pills-tabContent">
            <!-- single tab content area start -->
            <div class="row g-5" >
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12" *ngFor="let data of  indexdata">
                    <!-- single image generator area start -->
                    <div class="single-image-generator">
                        <a href="image-generator.html" class="thumbnail">
                            <img src="{{data.img}}" alt="images">
                        </a>
                        <div class="inner-content">
                            <div class="left-content-area">
                                <h5 class="title">{{data.title}}</h5>
                                <p class="disc">
                                   {{data.des}}
                                </p>
                            </div>
                            <a href="image-generator.html" class="rts-btn btn-primary">Generate</a>
                        </div>
                    </div>
                    <!-- single image generator area end -->
                </div>
               
            </div>
            <!-- single tab content area end -->
        </div>
    </div>
</div>